{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="hero"> 
  <div class="hero-content">
    <div class="left">
      <h1>I'm Web  Developer</h1>
        <h1>Bruno Leguizamón</h1>
          <p>I build dynamic python applications using relational databases </p>
          <a href="#contact" class="btn">Contact Me</a>
    </div> 
    <div class="right">
      <img src="{{ url_for('static', filename='big-data.png') }}" alt="big data image" width=600px   >
    </div> 
  </div>
</div>
{% include 'portfolio/section-first.html' %}
{% endblock %}