<div class="center">
  <div class="content">
    <div class="row padded ">
      <div class="left padded">
        <h1>
          Passionately develop apps and websites for people
        </h1>
        <p>
          I am constantly learning new technologies and developing applications as a hobby.
          I build this website from scratch with python using flask, and I want to know this world even more.
        </p>
      </div>
      <div class="right padded">
        <h1>
          If you want to know more about me!
        </h1>
        <p>
          Just send me an email <a href="#contact" class="secondary-color">clicking here</a>
        </p>
        <p>
          or you can also download my cv here  <a href="{{ url_for('static', filename='leguizamon_bruno_cv.pdf') }}" target="_blank" class="secondary-color  ">clickng here</a>
        </p>
      </div>
    </div> 
  </div>
</div>
