<div class="center">
  <div id="projects" class="content">
    <div class="row padded">
      <h1>My Projects</h1>
    </div>
    <div class="row padded">
      <div class="card third">
        <h3>DCIM Web Page</h3>
        <p>
          Project created from Wordpress. Maintained and modified by me to date
        </p>
        <a class="secondary-color" href="http://www.dcim.com.ar/" target="_blank">VISIT HERE</a>
      </div>
      <div class="card third">
        <h3>Mailer app</h3>
        <p>
          This application is built with Flask, and send emails using Sendgrid.
        </p>
        <a class="secondary-color" href="https://flask-mailer-app.herokuapp.com/" target="_blank">VISIT HERE</a>
      </div><div class="card third">
        <h3>React portfolio</h3>
        <p>
          App created with react and bootstrap
        </p>
        <a class="secondary-color" href="https://flask-mailer-app.herokuapp.com/" target="_blank">VISIT HERE</a>
      </div>
    </div>
    <div class="row padded">
      <div class="card third">
        <h3>DCIM Web Page</h3>
        <p>
          Project created from Wordpress. Maintained and modified by me to date
        </p>
        <a class="secondary-color" href="http://www.dcim.com.ar/" target="_blank">VISIT HERE</a>
      </div>
      <div class="card third">
        <h3>Mailer app</h3>
        <p>
          This application is built with Flask, and send emails using Sendgrid.
        </p>
        <a class="secondary-color" href="https://flask-mailer-app.herokuapp.com/" target="_blank">VISIT HERE</a>
      </div>
      
    </div>
  </div>
</div>