<div class="center">
  <div id="projects" class="content">
    <div class="row padded">
      <h1 class="padded">My Projects</h1>
    </div>
    <div class="row padded">
      <div class="card third">
        <h3>DCIM Web Page</h3>
        <p>
          Project created with Wordpress. I have been actively working on page maintenance and modification when required since 2019 
        </p>
        <a class="secondary-color" href="http://www.dcim.com.ar/" target="_blank">VISIT HERE</a>
      </div>
      <div class="card third">
        <h3>Mailer app</h3>
        <p>
          This application was built with Flask, and send emails using Sendgrid.
        </p>
        <a class="secondary-color" href="https://flask-mailer-app.herokuapp.com/" target="_blank">VISIT HERE</a>
      </div><div class="card third">
        <h3>React portfolio</h3>
        <p>
          App created with react and bootstrap
        </p>
        <a class="secondary-color" href="https://www.brunomleguizamon.com.ar" target="_blank">VISIT HERE</a>
      </div>
    </div>
    <div class="row padded">
      <div class="card third">
        <h3>Tk To Do List</h3>
        <p>
          To do list application created in TKinter
        </p>
        <a class="secondary-color" href="{{ url_for('static', filename='db') }}" target="_blank">VISIT HERE</a>
      </div>
      <div class="card third">
        <h3>Tk Diary</h3>
        <p>
          Application to manage a contact book created in TKinter
        </p>
        <a class="secondary-color" href="{{ url_for('static', filename='notebook') }}" target="_blank">VISIT HERE</a>
      </div>
      
    </div>
  </div>
</div>
