<div class="center">
  <div class="content">
    <div class="row">
      <div class="left">
        <h1>
          Passionately develop apps and websites for people
        </h1>
        <p>
          I am constantly learning new technologies and developing applications as a hobby.
          I build this website from scratch with python using flask, and I want to know this world even more.
        </p>
      </div>
      <div class="right">
        <h1>
          We can talk whatever you want!
        </h1>
        <p>
          Just send me an email <a href="#contact" class="secondary-color">clicking here</a>
        </p>
      </div>
    </div> 
  </div>
</div>
